@font-face {
    font-family: 'vazir';
    src: url('./fonts/vazir.eot');
    src: url('./fonts/vazir.ttf') format('truetype'), url('./fonts/vazir.woff2') format('woff2'), url('./fonts/vazir.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
    
    
}
input,button,form,select{
    font-family: vazir;

}

body {
    /* background-image: linear-gradient(to left, #f0eaee 0%, #d2d4d6 100%); */
    font-family: vazir;
   
}